html,body{
  width:100%;
  height: 100%;
  margin: 0;
  background-color: BLACK;
  overflow: hidden;
  font-family: 'Arimo', sans-serif;
  color: #b3d8cd;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-variant: small-caps;
}
#main-frame{
  width: 70vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  z-index: 1;
}
#map{
  width: 70vw;
  height: 50vh;
  position: absolute;
  left: 0px;
  z-index: 1;
  box-shadow: 0px 0px 2vw black;
}
#globe{
  width: 70vw;
  height: 50vh;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  z-index: -10;
}
.sidebar{
  width: 30vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  right: 0px;
  background-color: #191e1e;
  box-shadow: 0px 0px 2vw black;
  z-index: 100;
}
.gmnoprint{
  display:none;
}
.container{
  width: 25vw;
  height: 99vh;
  position: absolute;
  left: 2.5vw;
  font-size: 4vh;
  margin-top:1vh;
}
iframe{
  margin-top:1vh;
  border: 0;
  width: 25vw;
  height: 20vh;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.input{
  margin-top:1vh;
  width: 24vw;
  height:3vh;
  border-radius: 0.5vw;
  border: 0;
  font-size: 2vh;
  background-color: #4a5e63;
  line-height: 3vh;
  padding-left: 1vw;
}
#flightID{
  margin-left: 0.5vw;
  width:10.5vw;
  position: absolute;
  border-radius: 0 0.5vw 0.5vw 0;
  border: 0;
  height: 2.6vh;
  right: 0px;
  font-size: 2vh;
  font-variant: small-caps;
  font-family: 'Arimo', sans-serif;
  padding-left: 2vh;
  background-color: #2a3335;
  color: #b3d8cd;
}
#flightID:hover{
}
#flightID:active{
  outline:none;
}
#flightID:focus{
  outline:none;
}
